.аuthContainer {
    display: flex;
    align-items: center;
    height: 100%;
    min-height: 100vh;
    justify-content: center;
}
.ant-form-item-required::before{
    color: rgb(159, 29, 29) !important;
    font-size: 25px !important;
}

.ant-form-item-explain-error{
    font-size: 16px !important;
    font-family: 'Montserrat', cursive !important;

}
.submitBtn {
    width: 100%;
}
label::after{
    visibility: hidden;
}

.formRow{
    background-color: rgba(0, 0, 0, 0.798);
    padding: 1%;
    border-radius: 5%;
}