.estateCard {
    border: 4px solid rgb(225, 204, 204);
    border-radius: 1%;
    margin: 50px;
}

.carouselCard {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.dynamic-delete-button {
    transition: all 0.3s;
}

.dynamic-delete-button:hover {
    color: #777;
}