.rentCard {
    border: 4px solid rgb(225, 204, 204);
    border-radius: 1%;
    margin: 50px;
}

.approvedRentBanner {
    color: white;
    text-align: center;
    background-color: red;
    padding: 5px;
}

.rentableRentBanner {
    color: black;
    text-align: center;
    background-color: orange;
    padding: 5px;
}